.p-menuitem-link {
  display: flex;
  align-items: center;
}

.p-menuitem-link .p-menuitem-text {
  order: -1;
}

.p-menuitem-link .p-submenu-icon {
  order: 1;
  margin-left: auto;
}

.p-datatable {
  .p-datatable-wrapper {
    border-radius: 12px;
    overflow: hidden;
    border: 1.5px solid #525252;
    .p-datatable-thead {
      tr {
        th {
          background-color: #eff6ff;
          .p-column-header-content {
            .p-column-title {
              color: black;
            }
          }
        }
      }
    }
    .p-datatable-tbody {
      tr {
        td {
          color: #262626;
          // font-weight: 500;
        }
      }
    }
  }
}

.text-effect {
  --gradient-width: 200%;
  font-weight: bold;
  background: linear-gradient(90deg, #1d4ed8, #93c5fd, #1d4ed8);
  background-size: var(--gradient-width) 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: shine 3s linear infinite;
}

@keyframes shine {
  from {
    background-position: var(--gradient-width) 0;
  }
  to {
    background-position: 0 0;
  }
}
