@layer tailwind-base, primereact, tailwind-utilities;

/* IMPORTANT: In "styled" mode you must add the PrimeReact Theme here. Do NOT include in "unstyled" mode */
@import 'primereact/resources/themes/lara-light-blue/theme.css' layer(primereact);

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5% 64.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
    /* font-feature-settings: "rlig" 1, "calt" 1; */
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute w-9 h-9 bg-muted rounded-full font-mono font-medium text-center text-base inline-flex items-center justify-center -indent-px border-4 border-background;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }

  .chunk-container {
    @apply shadow-none;
  }

  .chunk-container::after {
    content: '';
    @apply absolute -inset-4 shadow-xl rounded-xl border;
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

h1 {
  @apply text-4xl font-semibold mt-4 tracking-tight;
} /* Bold */
h2 {
  /* @apply text-3xl font-bold mt-4; */
  @apply text-3xl font-semibold tracking-tight;
} /* Regular */
h3 {
  @apply text-2xl font-bold mt-4 tracking-tight;
}
h4 {
  @apply text-xl font-bold mt-4 tracking-tight;
} /* Regular */
h5 {
  @apply text-lg font-bold mt-4 tracking-tight;
} /* Regular */
h6 {
  font-weight: 400;
}

.markdown-content {
  @apply text-gray-800 leading-normal;

  h1 {
    @apply text-4xl font-bold mb-4 mt-6;
  }

  h2 {
    @apply text-3xl font-semibold mb-3 mt-5;
  }

  h3 {
    @apply text-2xl font-medium mb-2 mt-4;
  }

  p {
    @apply mb-4;
  }

  a {
    @apply text-blue-600 hover:underline;
  }

  ul,
  ol {
    @apply mb-4 pl-8;
  }

  li {
    @apply mb-2;
  }

  code {
    @apply bg-gray-100 rounded px-1 py-0.5 font-mono text-sm;
  }

  pre {
    @apply p-4 mb-4 overflow-x-auto;
  }

  pre code {
    @apply bg-transparent p-0 text-sm leading-loose;
  }

  blockquote {
    @apply border-l-4 border-gray-300 pl-4 italic my-4;
  }

  strong {
    @apply font-bold;
  }
}
