.cursors-container {
  pointer-events: none;
}

.user-cursor-container {
  position: fixed;
  left: 0;
  top: 0;

  .cursor-label {
    position: absolute;
    padding: 0 0.5rem;
    border-radius: 9999px; /* rounded-full */
    font-size: 0.75rem;
    color: white;

    /* Do not wrap text */
    white-space: nowrap;
  }
}
